:root {
  --bg: #689d6a;
  --bg-selected: #85af7d;
  --fg: #282828;
  --alt-text: #ebdbb2;
  --fg-trans: #282828a0;
}

.base-3dtUhz {
  border-radius: 10px;
  background-color: var(--fg);
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
  margin-left: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}
.unread-3zKkbm,
.layers-3iHuyZ {
  background-color: var(--bg);
}
.guilds-1SWlCJ .scroller-2TZvBN.none-2Eo-qx.scrollerBase-289Jih {
  background-color: transparent;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 2px;
}
[class*="titleBar-AC4pGV"] {
  background-color: var(--fg);
}
.chat-3bRxxu {
  background-color: var(--fg);
}

.members-1998pB.members-1998pB,
.scroller-2FKFPG.messages-3amgkR.scroller-3sQKXg {
  background-color: transparent;
}

.form-2fGMdU:before {
  height: 0px;
}

.name-3YKhmS,
.name-3_Dsmg.overflow-WK9Ogt,
.markup-2BOw-j.messageContent-2qWWxC {
  color: var(--alt-text);
}

.title-29uC1r.base-1x0h_U.size16-1P40sf,
.cursorPonter-YEp76E.title-29uC1r.base-1x0h_U.size16-1P40sf,
.containerDefault-1ZnADq.selected-37j_iU
  .iconVisibility-1bOqu7.wrapper-1ucjTd.modeSelected-1zApJ_
  .content-3at_AU
  .name-3_Dsmg.overflow-WK9Ogt {
  color: var(--bg);
}

.childWrapper-anI2G9.acronym-2mOFsV {
  background-color: var(--fg);
}
.username-1A8OIy.clickable-1bVtEA.focusable-1YV_-H {
  font-weight: 700;
  color: var(--alt-text);
}
.expandedFolderBackground-2sPsd- {
  background-color: var(--fg-trans);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9.acronym-2mOFsV {
  background-color: var(--bg-selected);
  color: var(--fg);
  font-weight: 900;
}
.childWrapper-anI2G9 {
  color: var(--alt-text);
}
.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--fg);
}

.wrapper-1Rf91z.guilds-1SWlCJ {
  background-color: transparent;
}
